/* post navigation */
.post__navigation {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 680px;
  margin: 0 auto;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 0px 20px 20px;
}

.post__text--show {
  color: black;
  font-weight: 600;
}

/* Post List */
.post__list__inner {
  min-height: 80vh;
  padding: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 22px;
}

.post__box {
  padding: 24px 0px;
  border-top: 1px solid #f2f2f2;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post__text {
  font-size: 16px;
  color: dimgray;
}

.post__profile__box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
  margin: 10px 0px;
}

.post__profile {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
}

.post__author--name,
.post__date {
  color: gray;
}

.post__utils__box {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.post__modify,
.post__delete {
  font-size: 14px;
  color: gray;
}

.post__modify:hover,
.post__modify:focus {
  color: black;
}

.post__delete:hover,
.post__delete:focus {
  color: black;
}