/* login Form */
.signup__inner {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  min-height: 70vh;
  margin-top: 10vh;
}

.signup__inner .form__title {
  text-align: center;
  margin-bottom: 4px;
}