/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* common */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.menu__item {
  color: gray;
}

.menu__item:hover,
.menu__item:focus {
  color: black;
}

.white {
  transition: all 0.3s linear;
  background-color: white;
}

.dark {
  transition: all 0.3s linear;
  background-color: #1e2937;
  min-height: 100vh;
}

.dark a,
.dark .form label,
.dark .post__delete,
.dark .profile__logout,
.dark .form__title,
.dark .form__block,
.dark .post__title,
.dark .post__text,
.dark .post__text--show,
.dark .post__author--name,
.dark .post__date,
.dark .post__modify .modify,
.dark .profile__email,
.dark .profile__name,
.dark .header__theme--btn,
.dark .comments__list {
  color: white;
}

.dark a:hover,
.dark a:focus,
.dark .comment__date,
.dark .comment__delete {
  color: lightgray;
}

.dark .comment__delete:hover,
.dark .comment__delete:focus {
  color: white;
}

.dark .header__inner,
.dark .footer__inner {
  background-color: #111827;
}

.dark .form__error {
  color: #ff6a71;
}



